
body {
    margin: 0px;
    font-family: "Merriweather";
    line-height: 1.25em;
}

#appbody {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.IndexCol {
    position: absolute;
    left: 0px;
    width: 33%;
    height: 100%;
    background-color: #EEE;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.ChunkList li {
    background: white;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 4px 8px;
}

.ChunkList li.Selected {
    background: #78F;
    color: white;
}

.ChunkList .ChunkTitle {
}

.ChunkList .ChunkGloss {
    font-size: 85%;
}

.ChunkList .ChunkType {
    float: right;
    text-align: right;
}

.BlorbInfo {
    margin: 16px 8px;
}

.BlorbInfo .BlorbTitle {
    font-size: 110%;
}

.BlorbInfo .BlorbGloss {
    text-align: right;
    font-size: 85%;
}

.DisplayCol {
    position: absolute;
    left: 33%;
    width: 67%;
    height: 100%;
    border-left: 1px solid #AAA;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.IndexCol ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

pre {
    font-family: "Source Code Pro";
    font-size: 85%;
}

code {
    font-family: "Source Code Pro";
}

code.IType {
    background: #00008811;
    white-space: pre;
    padding: 1px 2px;
}

.InfoList {
    list-style: none;
    padding: 0px;
}

.InfoLabel {
    font-size: 85%;
    font-style: italic;
}

ul.NestTree {
    list-style: none;
    padding-left: 0px;
    font-size: 85%;
}

ul.NestTreeSub {
    list-style: none;
    padding-left: 20px;
}

a.JumpArrow {
    text-decoration: none;
    padding: 0px 4px;
    border: 1px solid #CCF;
    border-radius: 20px;
}

a.JumpArrow:hover {
    background: #0000FF40;
}

.JumpGloss {
    font-size: 85%
}
