
body {
    margin: 0px;
    font-family: "Merriweather";
    line-height: 1.25em;
}

#appbody {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.IndexColBack {
    position: absolute;
    left: 0px;
    width: 33%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    background-color: #F2E5FE;
    overflow: clip;
}

.IndexColBack .IndexColBackUpper {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0px;
}

.IndexColBack .IndexColBackLower {
    position: absolute;
    width: 100%;
    height: 100%;
}

.IndexCol {
    position: absolute;
    left: 0px;
    width: 33%;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.ChunkList {
    border-top: 1px solid #AAA;
}

.ChunkList li {
    padding: 8px 8px;
    border-bottom: 1px solid #AAA;
}

.ChunkList li.Selected {
    background: #D6B;
    color: white;
}

.ChunkList .ChunkTitle {
}

.ChunkList .ChunkGloss {
    font-size: 85%;
}

.ChunkList .ChunkType {
    float: right;
    text-align: right;
}

.BlorbInfo {
    margin: 16px 8px;
}

.BlorbInfo .BlorbTitle {
    font-size: 110%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.BlorbInfo .BlorbGloss {
    text-align: right;
    font-size: 85%;
}

.BlorbInfo .BlorbInfoErrors {
    text-align: right;
    font-size: 85%;
    color: #900;
}

.BlorbInfo .BlorbControls {
    text-align: right;
    font-size: 85%;
    margin-top: 4px;
}

.DisplayCol {
    position: absolute;
    box-sizing: border-box;
    left: 33%;
    width: 67%;
    height: 100%;
    border-left: 1px solid #AAA;
}

.DisplayHeader {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 0px;
    height: 50px;
}

.DisplayHeaderBack {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 0px;
    height: 50px;
    background: #F8E4FF;
    overflow: clip;
}

.DisplayHeaderBack .DisplayHeaderBackAcross {
    position: absolute;
    width: 100%;
    height: 100%;
}

.DisplayPane {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 50px;
    bottom: 0px;
    padding: 10px 20px;
    overflow-y: scroll;
    background-color: #FFFDFF;
}

.IndexCol ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.DisplayHeader .HeaderTitle {
    margin: 12px 12px;
}

.DisplayHeader .ControlBox {
    position: absolute;
    top: 0px;
    right: 0px;
}

.ControlBox .Control {
    display: inline-block;
    margin: 12px 4px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 85%;
}

.ControlBox .Control:last-child {
    margin-right: 16px;
}

.ControlRow .Control {
    display: inline-block;
    margin-left: 8px;
}

.InlineControls .Control {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 85%;
}

.BlorbControls .Control {
    display: inline-block;
    margin-left: 8px;
}

.ModalBack {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000040;
    text-align: center;
}

.ModalBox {
    display: inline-block;
    position: relative;
    min-width: 200px;
    top: 80px;
    padding: 10px 20px;
    background: #E2E0F6;
    border: 4px solid #D0C8FF;
    border-radius: 6px 12px;
    box-shadow: 4px 4px 12px 2px #00000080;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
}

.ModalBox .ControlRow {
    margin-top: 10px;
    margin-bottom: 10px;
}

.InlineControls.ControlRow {
    margin-top: 10px;
    margin-bottom: 10px;
}

.AlignCenter {
    text-align: center;
}

.AlignRight {
    text-align: right;
}

button {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 100%;
    color: #111;
    background-color: #F2D4F2;
    border-radius: 6px;
    border: 1px solid #888;
    padding: 3px 8px;
}

button:hover {
    background-color: #F2BBF2;
}

button:active {
    background-color: #D6B;
    color: white;
}

button:disabled {
    background-color: #F2E5F6;
    color: #888;
}

/*### visually hidden instead?*/
input[type=file] {
    display: none;
}

#dropzone.Selected {
    background: #CCD0FF;
}

.WhileDragging {
    display: none;
    pointer-events: none;
}
#dropzone.Selected .WhileDragging {
    display: block;
}

.WhileNotDragging {
}
#dropzone.Selected .WhileNotDragging {
    display: none;
    pointer-events: none;
}

label.FileInput {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 120%;
    background-color: #F2D4F2;
    padding: 4px 12px;
    border: 1px solid #888;
    border-radius: 20px;
}

label.FileInput:hover {
    background-color: #F2BBF2;
}

label.FileInput:active {
    background-color: #D6B;
    color: white;
}

input.TextLine {
    font-family: "Merriweather";
    font-size: 85%;
    width: 90%;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 2px 4px;
}

p {
    line-height: 1.45em;
}

pre {
    font-family: "Source Code Pro";
    font-size: 85%;
    text-wrap-mode: wrap;
}

code {
    font-family: "Source Code Pro";
}

code.IType {
    background: #44008811;
    white-space: pre;
    padding: 1px 2px;
}

.InfoList {
    list-style: none;
    padding: 0px;
}

.InfoLabel {
    font-size: 85%;
    font-style: italic;
}

ul.NestTree {
    list-style: none;
    padding-left: 0px;
    font-size: 85%;
}

ul.NestTreeSub {
    list-style: none;
    padding-left: 20px;
    text-indent: 20px hanging;
}

.SubText {
    font-size: 85%;
    padding-left: 20px;
    text-indent: 20px hanging;
    margin-top: 4px;
    margin-bottom: 12px;
}

.AltText {
    font-size: 85%;
}

a.JumpArrow {
    text-decoration: none;
    padding: 0px 4px;
    border: 1px solid #888;
    border-radius: 20px;
    background: #FCE4F8;
}

a.JumpArrow:hover {
    background: #F2BBF2;
}

.JumpGloss {
    font-size: 85%
}

a.ForwardArrow {
    text-decoration: none;
    padding: 0px 4px;
    border: 1px solid #888;
    border-radius: 20px;
    background: #F2D4F2;
}

a.ForwardArrow:hover {
    background: #F2BBF2;
}

a.DownloadArrow {
    font-size: 140%;
    text-decoration: none;
    padding: 0px 6px;
    border: 1px solid #888;
    border-radius: 20px;
    background: #F2D4F2;
}

a.DownloadArrow:hover {
    background: #F2BBF2;
}

a.EditButton {
    text-decoration: none;
    font-size: 110%;
    padding: 0px 4px;
    border: 1px solid #888;
    border-radius: 20px;
    background: #FCE4F8;
}

a.EditButton:hover {
    background: #F2BBF2;
}

.BigArrow {
    text-align: center;
    font-size: 8em;
    margin-top: 40px;
    color: #88A;
}

.ErrorLine {
    margin-top: 8px;
    margin-bottom: 8px;
}

.ImageBox {
    text-align: center;
}

.ImageBox img {
    max-width: 95%;
}

